{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login Page</title>
<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

  <!-- Navbar -->
  <nav>
    <a href="" class="logo">
        <img src="../static/images/technokraft-logo.png" alt="" class="logo">
    </a>
  </nav>

  <!-- Main content -->
  <div class="main-container">
    <div class="login-container">
      <h2>Student Login</h2>
      <form method="post">
        {% csrf_token %}
        <label>Username:</label><input type="text" name="name"><br>
        <label>Password:</label><input type="password" name="password"><br>
        <button type="submit">Login</button>    
      </form>
      <p>Don’t have an account? <a href="#">Register</a></p>
    </div>
  </div>

</body>
</html>
