{% extends "dashboard.html" %}
{% block content %}
<div class="review-container">
    <h2>Test Review</h2>
    <h2><b>Total Marks:</b> {{ score }} / {{ total }}</h2>
    <h2></h2>
    <table border="1" cellpadding="10" cellspacing="1" width="900px">
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
            <th>Status</th>
        </tr>
        {% for ans in answers %}
        <tr>
            <td>&nbsp;&nbsp;{{ forloop.counter }}&nbsp;&nbsp;</td>  <!-- Question number -->
            <td>&nbsp;&nbsp;{{ ans.question_text }}&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;{{ ans.selected_option|default:"Not Attempted" }}&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;{{ ans.correct_answer }}&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;
                {% if ans.is_correct %}
                    ✅ Correct
                {% else %}
                    ❌ Wrong
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><b>Total Marks:</b> {{ score }} / {{ total }}</p>
</div>
{% endblock %}
