{% extends "dashboard.html" %}
{% block content %}
<div class="review-container" style="width: 1000px; margin: auto;">
    <h2>Test Review</h2>
    <h2><b>Total Marks:</b> {{ score }} / {{ total }}</h2>

    <table border="1" cellpadding="10" cellspacing="1" style="width: 100%; border-collapse: collapse; text-align: center;">
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
            <th>Status</th>
        </tr>
        {% for ans in answers %}
        <tr>
            <td>{{ forloop.counter }}</td>  
            <td>{{ ans.question_text }}</td>
            <td>{{ ans.selected_option|default:"Not Attempted" }}</td>
            <td>{{ ans.correct_answer }}</td>
            <td>
                {% if ans.is_correct %}
                    ✅ Correct
                {% else %}
                    ❌ Wrong
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><b>Total Marks:</b> {{ score }} / {{ total }}</p>
</div>
{% endblock %}
